//STYLE GUIDE

//COLORS
.mainColor {
  background-color: #3E4A61 !important;
}

.mainGradient {
  background: linear-gradient(to bottom, rgba(62,74,97,0), rgba(62,74,97,0.9), rgba(62,74,97,1), rgba(62,74,97,0.8), rgba(62,74,97,0));
}

.flow-text {
  color: white;
}

input {
  color: black;
}

body {
  background-color: rgba(22, 25, 28, 0.01)
}

shade {
  background-color: black;
  opacity: 0.2; 
  filter: alpha(opacity=20);
}

//SPACES

.tinyMiniSpace {
  padding: 0.2em;
}

.miniSpace {
  padding: 1em;
}

.smallSpace {
  padding: 3em;
}

.mediumSpace {
  margin: 6em;
}

.bigSpace {
  padding: 12em;
}

.smallMarginLeft {
  margin-left: 1em;
}

.smallMarginRight {
  margin-right: 1em;
}

.smallMarginTop {
  margin-top: 0.25em;
}

//MARGIN
.smallMargin {
  margin: 3em;
}

.mediumMargin {
  margin: 6em;
}

.bigMargin {
  margin: 12em;
}


a {
  padding-right: 1em;
}

//RESPONSIVE SIZING
.thirdPage {
  height: 35%;
  width: 70%;
}

.tenth {
  height: 10vh;
  min-height: 60px;
}

.fourth {
  height: 10%;
}

.fifth {
  height: 20%;
}

.twoFifths {
  height: 40%;
}

.threeFifths {
  height: 60%;
}

.fourFifths {
  height: 90%;
}

.fullPage {
  height: 100vh;
}

.oneTwentiethOfPage {
  height: 5vh;
}

//COLUMN POSITION
.col-centered {
  float: none;
  margin: 0 auto;
}

.centered-big-narrow {
  width: 52vw;
  margin: auto;
}

.centered-narrow {
  width: 50vw;
  margin: auto;
}

.centered-very-narrow {
  width: 35vw;
  min-width: 400px;
  margin: auto;
}

//TEXT SIZE
h3 {
  font-size: 175%;
  font-weight: bold;
}

h4 {
  font-size: 125%;
  font-weight: bold;
}

//OTHER
.btn, .btn-large, .mainColor {
  visibility: visible !important;
}

.fixed-width {
  width: 17em;
}

.logo {
  width: 50%;
  height: 50%;
}

.textBox {
  height: 140px;
}

//POSITION
.test-snippet {
  position: absolute;
  top: 0;
  right: 0;
}
