//STYLE GUIDE

//COLORS
.mainColor {
  background-color: #3E4A61 !important;
}

.mainGradient {
  background: linear-gradient(to bottom, rgba(62,74,97,0), rgba(62,74,97,0.7), rgba(62,74,97,0.8), rgba(62,74,97,0.7), rgba(62,74,97,0));
}

.reverseGradient {
  background: linear-gradient(to bottom, rgba(62,74,97,1), rgba(62,74,97,0));
}

div {
  color: white
}

//SPACES
.smallSpace {
  padding: 3em;
}

.mediumSpace {
  margin: 6em;
}

.bigSpace {
  padding: 12em;
}

a {
  padding-right: 1em;
}

//RESPONSIVE SIZING
.thirdPage {
  height: 35%;
  width: 70%;
}

.tenth {
  height: 10%;
}

.fifth {
  height: 20% !important;
}

.twoFifths {
  height: 40% !important;
}

.threeFifths {
  height: 60% !important;
}

.fullPage {
  height: 100vh;
}

//COLUMN POSITION
.col-centered{
    float: none;
    margin: 0 auto;
}


//TEXT SIZE
h3 {
  font-size: 175%;
  font-weight: bold;
}

h4 {
  font-size: 125%;
  font-weight: bold;
}






