//STYLE GUIDE

//COLORS
.mainColor {
  background-color: #3E4A61;
}

//SPACES
.smallSpace {
  padding: 3em;
}

.mediumSpace {
  margin: 6em;
}

.bigSpace {
  padding: 12em;
}


//RESPONSIVE SIZING
.thirdPage {
  height: 35%;
  width: 70%;
}


//COLUMN POSITION
.col-centered{
    float: none;
    margin: 0 auto;
}


//TEXT SIZE
h3 {
  font-size: 175%;
  font-weight: bold;
}

h4 {
  font-size: 125%;
  font-weight: bold;
}






